In [279]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [280]:
df = pd.read_csv("Melbourne_housing_FULL.csv")
df.head()

,Rooms,Type,SellerG,Regionname,Propertycount,Distance,Bathroom,Bedroom2,Car,Landsize,BuildingArea,Price
0,2,Unit,SellerA,Region2,2860,18.71,1,5,0,721,438,1271899
1,4,Townhouse,SellerB,Region2,1230,16.26,1,3,0,799,271,1165386
2,2,Unit,SellerA,Region1,4325,23.03,3,4,1,322,83,1010240
3,2,Townhouse,SellerB,Region3,1080,6.88,2,1,3,370,357,356749
4,4,Townhouse,SellerC,Region1,1492,36.10,3,1,3,492,456,1049590

In [281]:
df.nunique()

Rooms               5
Type                3
SellerG             4
Regionname          4
Propertycount    1241
Distance         1285
Bathroom            3
Bedroom2            5
Car                 4
Landsize          724
BuildingArea      432
Price            1499
dtype: int64

In [282]:
df.shape

(1500, 12)

In [283]:
df.isna().sum()

Rooms            0
Type             0
SellerG          0
Regionname       0
Propertycount    0
Distance         0
Bathroom         0
Bedroom2         0
Car              0
Landsize         0
BuildingArea     0
Price            0
dtype: int64

In [284]:
df = pd.get_dummies(df, drop_first=True)
df = df.astype("int")
df.head()

,Rooms,Propertycount,Distance,Bathroom,Bedroom2,Car,Landsize,BuildingArea,Price,Type_Townhouse,Type_Unit,SellerG_SellerB,SellerG_SellerC,SellerG_SellerD,Regionname_Region2,Regionname_Region3,Regionname_Region4
0,2,2860,18,1,5,0,721,438,1271899,0,1,0,0,0,1,0,0
1,4,1230,16,1,3,0,799,271,1165386,1,0,1,0,0,1,0,0
2,2,4325,23,3,4,1,322,83,1010240,0,1,0,0,0,0,0,0
3,2,1080,6,2,1,3,370,357,356749,1,0,1,0,0,0,1,0
4,4,1492,36,3,1,3,492,456,1049590,1,0,0,1,0,0,0,0

In [285]:
ip = df.drop(["Price"], axis="columns")
op = df["Price"]

In [286]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(ip, op, test_size=0.20, random_state=2)

In [287]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [288]:
model.fit(X_train, y_train)
model.score(X_test, y_test)

0.004416194125863471

### Lasso() is L1 Regularization. For Very big dataset it perform very weel then normal linearRegression() model but, for small dataset things might be oposite.

In [289]:
from sklearn.linear_model import Lasso
lasso_reg = Lasso(alpha=50, max_iter=100, tol=1.0)

In [290]:
lasso_reg.fit(X_train, y_train)
lasso_reg.score(X_test, y_test)

0.003420516137337959

### Ridge() is L2 Regularization. Same as L1 Regularization but more improved

In [291]:
from sklearn.linear_model import Ridge
Ridge_reg = Ridge(alpha=50, max_iter=100, tol=1.0)

In [292]:
Ridge_reg.fit(X_train, y_train)
Ridge_reg.score(X_test, y_test)

0.008430465295279355